body {
  font-family: "Roboto Mono", sans-serif;
  margin: 0px;
  background-color: #0b0316;
  color: #ffffff;
}
.accent-text {
  color: #85e309;
}
.accent-border-bottom {
  border-bottom: 1px solid rgba(132, 227, 4, 0.75);
}
.appContainer {
  background-color: #0b0316;
  color: #ffffff;
  padding: 0 1rem;
}

@media screen and (min-width: 600px) {
  .appContainer {
    padding: 0;
  }
}

.mainContainer {
  box-shadow: #0b031666 0px 8px 24px;
  padding-top: 50px;
  position: relative;
  z-index: 10;
  background: #0b0316;
  max-width: 980px;
}

@media screen and (min-width: 600px) {
  .mainContainer {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 750px;
  }
}

@media screen and (min-width: 1024px) {
  .mainContainer {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 980px;
  }
}

.footer {
  padding: 2rem 0 2rem 2rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.footer > * {
  margin-right: 1rem;
}
.footer img {
  max-width: 20px;
}

.green_text{
  background: linear-gradient(0deg,#85e309,#85e309),
              linear-gradient(180deg,#d8f71b 8.7%,#a0f115 78.26%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: #85e309;
  text-align: center;
}
